@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-bubble {
        @apply rounded-xl w-fit max-w-xs md:max-w-md mt-4 mx-8 bg-blue-500 p-4 text-white;
    }
    
    .text-triangle {
        @apply border-r-transparent border-l-transparent border-b-transparent border-t-blue-500 w-0 h-0 rotate-45 translate-x-10 -m-4;
        
        --width: 11px;
        /* equilaterial triangle: --stretch: 1.732 */
        --stretch: 3;

        border-left-width: var(--width);
        border-right-width: var(--width);
        border-top-width: calc(var(--width) * var(--stretch));
    }
    
}